@model IEnumerable<DesignationModel>

@section Style{
    <style>


        .designation-container {
            align-items: center;
            background: #EDEEF1;
            border-left: 5px solid var(--primary);
            border-radius: 1em;
            display: flex;
            justify-content: space-between;
            max-height: 10em;
            width: 30em;
            padding: 1em;
        }

        .designation {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .designation-item h6 {
            color: var(--primary);
            font-size: 1rem;
            font-weight: 700;
            margin-block: 0;
        }

        .designation-item p {
            font-weight: 500;
        }

        .icons-designation {
            display: flex;
            font-size: 1.3rem;
            gap: 1em;
        }
        .designation-controller {
            padding: 2em;
            display: flex;
            gap: 1em;
            flex-wrap: wrap;
      
    
        }

    </style>
}

<div class="designation-controller">

@foreach(var e in Model.ToList())
    {
    <div class="designation-container">
        <div class="designation">
            <div class="designation-item">
                <h6>
                    Department Code
                </h6>
                <p>@e.ID</p>
            </div>
            <div class="designation-item">
                <h6>
                    Department Name
                </h6>
                <p>@e.DesignationName</p>
            </div>
        </div>
        <div class="icons-designation">
                <i class="fa-solid fa-pen-to-square" id="edit-designation" data-toggle="modal" data-target="#exampleModal" style="color: var(--primary);cursor: pointer"></i>
            <i class="fa-solid fa-folder-minus" style="color: var(--danger); cursor: pointer"></i>
        </div>
    </div>

    }

</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" style="margin-left: 2em" data-toggle="modal" data-target="#exampleModal">
    Add New Department
</button>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Department</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="modal-body" id="add_designation-new">
                @Html.Label("Department Name")
                <input class="form-control" name="New Designation" id="new_input_desi" />
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="add_designation" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const designation = $("#add_designation");


        let form = $("#add_designation-new");



        form.validate({
            rules: {
                "New Designation": {
                    required: true,
                    minlength: 2
                }
            },
            "messages": {
                "New Designation": {
                    "required": "This Field is Required",
                    "minlength": "Min Length must be 2"
                }
            }
        });
        designation.click(function() {

            if (form.valid()) {
                let data = {
                    DesignationName:
                        $("#new_input_desi").val()
                };

                $.ajax({
                    url: `@Url.Action("AddDesignation")`,
                    type: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    data: JSON.stringify(data),
                    success: function() {
                        window.location.reload();;
                    },
                    error: function() {
                        alert("Error");
                    }


                });

            }
        })
        $("#edit-designation").click(function() {

            if (form.valid()) {
                let data = {
                    DesignationName:
                        $("#new_input_desi").val()
                };

                $.ajax({
                    url: `@Url.Action("UpdateDesignation")`,
                    type: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    data: JSON.stringify(data),
                    success: function() {
                    //    window.location.reload();;
                    },
                    error: function() {
                        alert("Error");
                    }


                });

            }
        });
    </script>
}